{{extend 'layout.html'}}

<h2>{{=request.args(0).replace('_',' ').capitalize()}}</h2>

{{=form}}

{{if request.args(0)=='Login':}}
  <a href="{{=URL(r=request,args='register')}}">Регистрация</a><br />
  <a href="{{=URL(r=request,args='retrieve_password')}}">
    Восстановление пароля</a><br />
{{pass}}
