{{extend 'layout.html'}}

{{try:}}
  {{=H1(message)}}
  {{=H3(sts)}}
{{except:}}
{{pass}}

<script type="text/python">
  # Работают оба присваивания 
  #doc["test"].text = "Здравствуй, МИР1!"
  doc['test'] <= "Здравствуй, МИР2!"
  doc <= "Здравствуй, МИР3!"
</script>

<br/>
<textarea id="test" rows="7" cols="30" style="background-color:green"></textarea>
