<!--
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
</script>
-->
{{extend 'layout.html'}}

{{try:}}
  {{=H1(message)}}
  {{=H3(sts)}}
{{except:}}
{{pass}}

<br>
<br>

<input type="button" value="Нажми меня"/>

<script>
  $(document).ready(function() {
    $("input").click(function(event) {
      alert("Поздравляем! Работает!");
    });
  });
</script>

