{{extend 'layout.html'}}

{{try:}}
  {{=H1(message)}}
{{except:}}
{{pass}}

<script type="text/python" src="{{=URL(c='static', f='brython/clock.py')}}">
</script>

<canvas id="clock" width="250" height="250" title="Brython">Ваш браузер не поддерживает холст (Canvas)</canvas>
